@model SistemaEFood.Modelos.ViewModels.ProductoVM
@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />





<br />

<div class="table-container">
    <div class="row table-header">
        <div class="col-lg-6">
            <h2 class="text-color-white">Lista de Productos</h2>
        </div>
    </div>
    <form id="frmFiltrar" method="get" class=" " action="@Url.Action("Consulta", "Producto")">
      

        <div class="row filter-row">
            <div class="col-md-4">
                <div class="form-group">
                    <select asp-for="Producto.LineaComidaId" id="lineaComidaSelect" name="idLineaComida" asp-items="@Model.LineaComidaLista" class="form-select">
                        <option disabled selected> -- Seleccione una línea de comida --</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn stbgreen-btn" onclick="refreshDataTable()">
                    <i class="bi bi-search"></i> Buscar Productos
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary" onclick="clearDataTable()">
                    <i class="bi bi-arrow-counterclockwise"></i> Limpiar Filtro
                </button>
            </div>
        </div>
    </form>
    <table id="tblDatos" class="table table-responsive table-hover tableEFOOD">
        <thead class="">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        
    </table>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-return stbgreen-btn" href="/">
                <i class="bi bi-arrow-return-left"></i> Regresar
            </a>
        </div>
    </div>
</div>





@section Scripts {
    <script src="~/js/consultaproducto.js"></script>


}

