
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<br />

<div class="table-container">
    <div class="row table-header">
        <div class="col-lg-6">
            <h2 class="text-color-black">Lista de Productos</h2>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-outline-black text-color-black" asp-action="Upsert"> <i class="bi bi-plus-square-fill"></i> Agregar Nuevo Producto</a>
        </div>
    </div>
    <table id="tblDatos" class="table table-responsive table-hover tableEFOOD">
        <thead class="">
            <tr>
                <th>Imagen</th>
                
                <th>Código</th>
                
                <th>Nombre</th>

                <th></th>
            </tr>
        </thead>
    </table>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-outline-black text-color-black" href="/">
                <i class="bi bi-arrow-return-left"></i> Regresar
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/producto.js"></script>
}

