@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Administracion EFood</h1>
    <div class="logo-container">
        <img src="~/imagenes/LOGOA.png" class="img-fluid full-screen-image" alt="Responsive image">
    </div>
    
</div>
