
@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<br />

<div class="table-container">
    <div class="row table-header">
        <div class="col-lg-6">
            <h2 class="text-color-white">Precios de Producto</h2>
        </div>
    </div>
    <table id="tblDatos" class="table table-responsive table-hover tableEFOOD">
        <thead class="">
            <tr>
                <th>Código</th>
                <th>Tipo de precio</th>
                <th>Monto</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-return stbgreen-btn" href="/Admin/Producto/Consultar">
                <i class="bi bi-arrow-return-left"></i> Regresar
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/consultaproductoprecio.js"></script>
}

