@model SistemaEFood.Modelos.ViewModels.ProductoPrecioVM
@using SistemaEFood.Utilidades
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Nuevo Precio";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.productoPrecio.Idproducto != 0)
    {
        titulo = "Editar precio";
        <input asp-for="productoPrecio.Id" hidden/>

    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">

                    @if(Model.productoPrecio.Idproducto != 0)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id">Código de Precio</label>
                                <input type="text" class="form-control" id="id" value="@Model.productoPrecio.Id" readonly/>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tipo de precios</label>
                            <select asp-for="productoPrecio.Idprecio" asp-items="@Model.ListaPrecios" class="form-select">
                                <option disabled selected> -- Seleccione un precio --</option>
                            </select>
                            <span asp-validation-for="productoPrecio.Idprecio" class="text-danger"></span>
                        </div>
                    </div>
                    

                    <div class="row mb-2 mt-2">
                        <div class="form-group col-md-6">
                            <label>Monto</label>
                            <input type="number" asp-for="productoPrecio.Monto" class="form-control" placeholder="Monto" id="monto" />
                            <span asp-validation-for="productoPrecio.Monto" class="text-danger"></span>
                        </div>
                    </div>

                    <br />

                    <div class="d-grid gap-2 d-md-block" >
                        @if(Model.productoPrecio.Idproducto != 0)
                        {
                            <div class="d-grid gap-2 d-md-block">
                                <button type="submit" class="btn btn-primary" onfocus="false" asp-route-id="@Model">
                                    <i class="bi bi-pencil-square"></i> Guardar Cambios
                                </button>
                                <a asp-action="Index" class="btn btn-success" id="regresarBtn">
                                    <i class="bi bi-arrow-return-left"></i> Regresar
                                </a>
                            </div>
                        }
                        else
                        {
                            <button type="submit" onclick="return validarImagen()" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i> Crear</button>
                            <a asp-action="Index" class="btn btn-success" id="regresarBtn"><i class="bi bi-arrow-return-left"></i> Regresar</a>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>


@section Scripts {
    

    <script>
        var url = window.location.href;

        var numeros = url.match(/\d+/g);
        if (numeros != null) {
            var id = numeros[1];
            var enlaceUrl = "/Admin/ProductoPrecio/index/" + id;
            document.getElementById('regresarBtn').setAttribute('href', enlaceUrl);
        }

        
    </script>
}

