// model lista productos
@{
    ViewData["Title"] = "Home Page";
}

<header cñass="header">
    <div class="container pt-sm-5">
        <div class="heading-primary">
            Las Mejores Comidas <br />
            Para Todo El Dia
        </div>
    </div>


</header>

<section>
    <div class="container my-2">
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex">
            <div class="input-group mb-3">
                <select id="lineaComidaDropdown" class="form-select">
                    <option value="">Seleccione una línea de comida</option>
                </select>
                <button class="btn btn-outline-primary">
                    <i class="bg-info bi-search"></i> Buscar Productos
                </button>
            </div>
        </div>

        <div  class="row">
            @foreach(var producto in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                    <div class="card w-100 my-2">
                        <img />
                    </div>
                </div>

            }
        </div>

    </div>


</section>


<div class="text-center">
    <h1 class="display-4">Bienvenido a EFood</h1>
    
</div>


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            cargarLineasDeComida();
        });

        function cargarLineasDeComida() {
            var url = 'https://localhost:7138/Inventario/LineaComida/ObtenerTodos'; 
            $.getJSON(url, function (data) {
                var dropdown = document.getElementById("lineaComidaDropdown");
                data.data.forEach(function (item) {
                    var option = document.createElement("option");
                    option.value = item.nombre;
                    option.text = item.nombre;
                    dropdown.add(option);
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error("Error al cargar las líneas de comida: ", textStatus, errorThrown);
            });
        }
    </script>
}