@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h1>@ViewData["Title"]</h1>
<div class="row"> 
    <div class="center-form">
    <div class="col-md-8 p-5 login-form">
        <section>
            <form id="account login-form" method="post">
                <div class=" login-form-title ">
                <h2 class="soda-font-bold">Digita tus credenciales.</h2></div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Usuario" class="form-control" autocomplete="username" aria-required="true" placeholder="Pedro1234" />
                    <label asp-for="Input.Usuario" class="form-label">Usuario</label>
                    <span asp-validation-for="Input.Usuario" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg stbgreen-btn">Iniciar Sesión</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                  
                </div>
            </form>
        </section>
    </div>
    </div>
    
    <div class="col-md-6 col-md-offset-2">
      
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
