@using SistemaEFood.Utilidades
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaEFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaEFood.styles.css" asp-append-version="true" />
    <script src="~/js/sidebar.js"></script>
    <link href="https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>

        <nav class="">
            <div class="nav-left-items">
                <div class="navbar-button">
                    <button class="sideBar-button" onclick="openSidebar()"><i class="bi bi-list"></i></button>

                </div>
                <div class="sidebar-container" id="sidebarContainer">
                    <div class="sidebar">

                        <div class="container-fluid">

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button></br>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between sidebar-nav">
                                <ul class="navbar-nav flex-grow-1">
                                    <button href="javascript:void(0)" class="sideBar-button font-color-white" onclick="closeSidebar()"><i class="bi bi-list"></i></button>
                                    <li class="nav-item">
                                        <a class=" nav-link sodo-font-bold font-color-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>


                                    <li class="side-bar-item">
                                        <a class="nav-link sodo-font-bold font-color-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                                    </li>
                                    @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Seguridad))
                                    {
                                        <li class=" ">
                                            <button class="font-color-white dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#seguridadItemList" aria-expanded="false" aria-controls="seguridadItemList">

                                                Seguridad
                                            </button>
                                        </li>

                                        <div class="collapse" id="seguridadItemList">
                                            <ul>
                                                <li class="">   <a class=" font-color-white" asp-area="Identity" asp-page="/Account/Register">Crear Usuario</a></li>

                                                <li class=""><a class=" font-color-white" asp-area="Admin" asp-controller="Usuario" asp-action="Index">Ver usuarios</a></li>
                                                <li class="dropdown-item-box"><a class=" font-color-white" asp-area="Admin" asp-controller="Usuario" asp-action="Index">Cambiar contraseña</a></li>
                                            </ul>
                                        </div>

                                    }
                                    @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Mantenimiento))
                                    {
                                        <li class="">

                                            @if (User.IsInRole(DS.Role_Admin))
                                            {
                                                <button class="font-color-white dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mantenimientoItemList" aria-expanded="false" aria-controls="mantenimientoItemList">     Administración </button>
                                            }
                                            @if (User.IsInRole(DS.Role_Mantenimiento))
                                            {
                                                <button class="font-color-white dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mantenimientoItemList" aria-expanded="false" aria-controls="mantenimientoItemList">     Mantenimiento </button>
                                            }
                                            <ul class="collapse" id="mantenimientoItemList">
                                                @if (User.IsInRole(DS.Role_Admin))
                                                {
                                                    <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="Tarjeta" asp-action="Index">Tarjetas de crédito o débito</a></li>
                                                    <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="ProcesadorDePago" asp-action="Index">Procesadores de pago</a></li>
                                                }
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="TiqueteDeDescuento" asp-action="Index">Tiquetes de descuento</a></li>
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="LineaComida" asp-action="Index">Lineas de comidas</a></li>
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="Producto" asp-action="Index">Productos</a></li>
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="TipoPrecio" asp-action="Index">Tipos de Precio</a></li>
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="BitacoraError" asp-action="Index">Bitacora Error</a></li>
                                            </ul>
                                        </li>
                                    }
                                    @if (User.IsInRole(DS.Role_Admin) || User.IsInRole(DS.Role_Consulta))
                                    {
                                        <li class="nav-item dropdown">
                                            <button class="font-color-white dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#consultasItemList" aria-expanded="false" aria-controls="consultasItemList">
                                                Consultas
                                            </button>
                                            <ul class="collapse" id="consultasItemList">
                                                <li class="dropdown-item-box"> <a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="Tarjeta" asp-action="Index">Pedidos</a></li>
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="Producto" asp-action="Consultar">Productos</a></li>
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="Marca" asp-action="Index">Bitácora</a></li>
                                                <li class="dropdown-item-box"><a class="dropdown-item-sidebar font-color-white" asp-area="Admin" asp-controller="ProcesadorDePago" asp-action="Index">Errores</a></li>
                                            </ul>
                                        </li>
                                    }

                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                       
                                        <li class="nav-item">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <button type="submit" class="nav-link btn btn-link font-color-white logout-text">Logout</button>
                                            </form>
                                        </li>
                                    }
                                    




                            </div>
                        </div>
                    </div>
                    <div class="sidebar-overlay" onclick="closeSidebar()"></div>
                </div>

                <div class="navbar-brand-container">   <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SistemaEFood</a></div>

            </div>

            <div class="nav-right-items">
            <div class="Login-Partial">

                <ul class="">
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="">
                            <a class=" text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="">
                            <a class=" text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="">
                            <a class=" text-dark hello-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                        </li>
                    }

                </ul>
                </div>
            </div>

        </nav>




    </header>
    <div class=" new-container">
        <main role="main" class="pb-3">
            <partial name="_Notificaciones" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SistemaEFood - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

